$color-black: #000000;
$color-primary: #ff76d8;
$color-primary-light-1: #ffa6fc;
$color-primary-light-2: #ff94e0;
$color-primary-dark: #ff59c7;

$font-family-BP-Header: "PRIMETIME", sans-serif;
$font-default: "Open Sans", sans-serif;
$font-header-2: "Poppins", sans-serif;
