.slider {
	&__nav {
		display: block;
		text-align: center;
		cursor: pointer;

		&:not(:last-child) {
			margin-right: 2rem;
		}
	}
	&__container {
		max-width: 20rem;
		height: 20rem;
		margin: 0 auto;
		position: relative;
	}
}
.slide {
	margin-top: 1rem;
	text-align: center;
	transition: all 0.3;
	display: inline-block;
	position: absolute;
	top: 0;
	width: 100%;
	transition: all 0.5s;
	overflow-x: hidden;
	opacity: 0;
	visibility: hidden;
	&--current {
		opacity: 1;
		visibility: visible;
	}
	&__mover {
	}
	&__title {
		color: white;
		font-family: $font-default;
	}
}
.zoomer {
	margin: auto;
	text-align: center;
	height: 250px;
	&__image {
		height: 100%;
		object-fit: cover;
	}
}
